@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
 
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: "inter", sans-serif;
}

   /* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
/* head */

.top-nav {
    margin-top: 10px;
    display: flex;
    margin: 10px auto 0 0;
    color: white;
    font-family: "inter", sans-serif;
    text-align: center;
    justify-content: space-around;
}

.top-nav p {
    margin-top: 5px;
    opacity: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.top-nav a:hover p{
    opacity: 100%;
}

.top-nav a {
    width: 150px;
    position: relative;
}

.top-nav a i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease-in-out;
    opacity: 0%;
}

.logo-top {
    width: auto;
    height: 4.5vw;
}

.top-nav a:hover i {
    top: 30px;
    opacity: 100%;
    transition: 0.3s ease-in-out;
}

.mainheader{
    color: white;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nick{
    border-top: 1px solid white;
    width: fit-content;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 1vw;
    padding-bottom: 0;
}
.name{
    border: none;
    margin-right: 30px;
    color: white;
    font-family: "inter", sans-serif;
    font-size: 2.5vw;
    text-align: right;
}

.mainheader-close{
    border-top: 1px solid white;
    width: fit-content;
    padding-top: 5px;
}
.portrait{
    width: auto;
    height: 30vw;
    margin: 0 auto;
}
.portraitt {
    display: flex;
    justify-content: center;
    position: absolute;
}
.top-nav a p{
    text-decoration: none;
    position: relative;
}
.top-nav a p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.top-nav a p:hover {
    cursor: pointer;
}
.top-nav a p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* about */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
  }
  
  .grid-item {
    width: auto;
    height: auto;
    padding: 20px;
  }
.about{
    color: black;
    font-family: "Jura", sans-serif;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.about p{
    font-size: 1vw;
}
.about_me{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
}
.about_me img{
    margin: 30px;
}
tr, td{
    width: 160px;
    height: 30px;
}
.social i{
    color: #ffbf35;
    font-size: 15px;
    border: solid 2px #ffbf35;
    border-radius: 100%;
    padding: 18px;
    width: auto;
    margin-right: 5px;
}
.griditem1{
    display: inline-flex;
    align-items: center;
}
.griditem1 h1{
    margin: auto;
}
.griditem4{
    width: fit-content;
    display: flex;
    align-items: center;
}
.tableborder{
    border-left: 2px solid white;
    padding-left: 10px;
}
.othersideborder{
    padding-right: 10px;
}
.griditem5 ul{
   list-style-type: none;
}
  .griditem5{
    align-items: center;
    display: flex;
  }
.griditem5 ul{
    justify-items: center;
}
.asdasd{
    width: fit-content  ;
}
.asdsadasd p{
    text-align: right;
}
/* projects */
.Projects{
    height: 100vh;
    padding: 15px;
}

/* From Uiverse.io by joe-watson-sbf */
.card:before{
    height: 10%;
}
.card {
    width: 100%;
    height: 20em;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    padding: .4em;
    transition: ease-in-out 0.5s;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 4;
  }
  
  .card p span {
    min-width: 2em;
    padding: .5em;
    text-align: center;
    opacity: 50%;
    transition: all .5s;
    color: #ff568e;
    letter-spacing: .1em;
    }
  
  .card p:hover span {
    opacity: 100%;
  }
  .card:hover{
    height: fit-content;
  }
  .card img:hover{
    height: 50vh;
  }


  

  .card2:before{
    height: 10%;
}
.card2 {
    width: 100%;
    height: 20em;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    padding: .4em;
    transition: ease-in-out 0.5s;
  }
  
  .card2 p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card2 p:hover {
    flex: 4;
  }
  
  .card2 p span {
    min-width: 2em;
    padding: .5em;
    text-align: center;
    opacity: 50%;
    transition: all .5s;
    color: #ff568e;
    letter-spacing: .1em;
    }
  
  .card2 p:hover span {
    opacity: 100%;
  }
  .card2:hover{
    height: 30vh;
  }
  .card2 img:hover{
    height: 30vh;
  }


  /* contact */
  .give-job-please{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 2px white solid;
    padding: 30px;
    border-radius: 25px;
  }
  .give-job-please input, textarea{
    color: black;
    background-color: white;
    width: 50vw;
    height: 50px;
  }
  .send-it{
    border-radius: 5px;
    transition: 0.3s ;
  }
  .send-it:hover{
    transform: scale(0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  .send-it:active{
    color: white;
    background-color: black;
    transform: scale(0.7);
  }


  .mmmm i{
    font-size: 1.5vw;
    transition: 0.5s;
  }
  .mmmm i:hover{
    transform: scale(1.3);
  }
